.App {
  display: flex;
  flex-wrap:wrap;
}
.App h3{
  text-align: center;
}

.card{
  width:  350px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.bg-green{
  background-color: #90EE90;
}
.bg-redsuave{
  background-color: #F08080;
}
.bg-bluesuave{
  background-color: #ADD8E6;
}
.bg-orangesuave{
  background-color: #FFA07A;
}
.bg-yellow{
  background-color: yellow;
}
.bg-grey{
  background-color: grey;
}
.bulb{
  margin: auto;
  width:100px;
  height: 100px;
  border-radius: 50%;
}

